.coin-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--text-color);
  padding: 15px;
}

.hero {
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 15px;
  border-radius: 10px;
  background-color: var(--light-blue);
}

.hero img {
  width: 80px;
  height: 80px;
}

.hero h2 {
  font-size: 2.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.details h2 {
  font-size: 1.1rem;
}

.details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details ul li {
  padding: 15px 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--light-blue);
}

.details ul li span:first-child {
  font-weight: bold;
}
