header {
  display: flex;
  padding: 0.8em 0.4em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
}

.left {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.left h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-color);
}

.left img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
