header {
  display: flex;
  padding: 0.8em 0.6em;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.left h1 {
  font-size: 1.6rem;
  font-weight: 800;
}

.left img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.right img {
  width: 20px;
  height: 20px;
}
